div
  .col-sm-6.no-padder
    .m-xs
      .h3 Hi,
        span.text-muted  {{App.userinfo.name}}
  .col-sm-6.no-padder
    .m-xs(ng-controller='LogoutController as logout')
      .h3: a(ng-click='logout.init()') Logout
